# dependências
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# next.js
/.next/
/out/

# produção
/build

# outros
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos de ambiente locais
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# firebase (IMPORTANTE: ignora os 10 mil arquivos temporários)
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
.firebaserc